<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DiarMain.Properties.Settings.diarConnectionString"
            connectionString="data source=&quot;D:\Sergey\Home Sergey\Программинг\Образцов\DiarMain\DiarMain\bin\Debug\DB\diar.sqlite&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="DLL\" />
      </assemblyBinding>
    </runtime>
</configuration>